body{
    padding-top: 60px;
}
#carousel-example-generic img{
    width: 500px;
    height: 300px;
}
#main{
    padding: 30px;
    text-align: center;
}
#main .container-fluid .col-md-4{
    margin-bottom: 10px;
}
#main .container-fluid .col-md-4 img{
    width: 120px;
    height: 120px;
}
#main .container-fluid .col-md-4 p{
    height: 60px;
    /*首行缩进*/
    text-indent: 28px;


}

#tab{
    margin-top: 20px;
}
#tab .tab-content h2{
    color: red;
}
#tab .tab-content h2 span{
    color: gray;
    font-size: 20px;
}
#tab .tab-content p{
    text-align: left;
    text-indent: 28px;
}
#tab .tab-content .row .col-md-5 img{
    width: 100px;
    height: 100px;
}
#tab .tab-content .row .col-md-8{

    margin-top: 100px;
}