blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2,
h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea,
th, ul,var{
    padding: 0;
    margin: 0;
}
ul{
    /*去掉原点*/
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    margin: 100px;
}
#tab{
    border: 1px solid #dddddd;
    width: 498px;
    height: 120px;

    /*裁剪超出部分*/
    overflow: hidden;
}
#tab-header{
    height: 38px;
    line-height: 38px;
    background-color: #F7F7F7;

    /*居中*/
    text-align: center;

    position: relative;
}
#tab-header ul{
    width: 501px;

    position: absolute;
    left: -1px;
}
#tab-header ul li{
    /*块级标签 浮动 改变级别*/
    float: left;
    /*background-color: red;*/
    width: 98px;

    /*内填充*/
    padding: 0 1px;

    /*下线*/
    border-bottom: 1px solid #dddddd;
}
#tab-header ul li.selected{
    background-color: white;
    /*下线*/
    border-bottom: 0;
    /*内填充*/
    padding: 0;

    /*设置左右线条*/
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

/*中间内容*/
#tab-content .dom{
    display: none;
}
#tab-content .dom a{
    /*background-color: red;*/
    width: 220px;

    /*行内块级标签*/
    float: left;

    margin: 10px;
}